<div class="main-div">
  <button class="button button-new" ng-click="$ctrl.addUser()">Add User</button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>E-mail</th>
        <th class="actions-th">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in $ctrl.users">
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button class="button button-edit" ng-click="$ctrl.editUser(user.userId)">Edit</button>
          <button class="button button-delete" ng-click="$ctrl.deleteUser(user.userId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
